@layout('layouts.email')

@section('body')
    <h1>Password restoration</h1>
    <p>We have receieved a request of resetting your password.</p>
    <b><h3>To reset your password, follow this <a href="http://localhost:3333/reset/{{id}}">link</a></h3></b>
    <small>If it wasnt you, then just ignore this message.</small>
@endsection