@layout('layouts.email')

@section('body')
<p>New post created:</p>
<h2><strong>{{ post.title }}</strong></h2>
<img src="{{ post.img_path }}" alt="Post image">
<p>{{ post.text }}</p>
<b>
@each(tag in post.tags)
    <span>#{{ tag.value }}</span>
@endeach
</b>
@endsection