<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
	
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	{{ style('admin/assets/css/icons/icomoon/styles.css') }}
	{{ style('admin/assets/css/bootstrap.css') }}
	{{ style('admin/assets/css/core.css') }}
	{{ style('admin/assets/css/components.css') }}
	{{ style('admin/assets/css/colors.css') }}
	{{ style('https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css') }}
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	{{ script('admin/assets/js/plugins/loaders/pace.min.js') }}
	{{ script('admin/assets/js/core/libraries/jquery.min.js') }}
	{{ script('admin/assets/js/core/libraries/bootstrap.min.js') }}
	{{ script('admin/assets/js/plugins/loaders/blockui.min.js') }}
	{{ script('https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js') }}
	<!-- /core JS files -->

	<!-- Theme JS files -->
	{{ script('admin/assets/js/core/app.js') }}
    @!section('head')
	<!-- /theme JS files -->
  </head>
  <body>

	<!-- Main navbar -->
	<div class="navbar navbar-default header-highlight">
		<div class="navbar-header">
			<a class="navbar-brand" href="/admin"><img src="{{assetsUrl('admin/assets/images/logo_light.png')}}" alt=""></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			<p class="navbar-text"><span class="label bg-success">Online</span></p>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown language-switch">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{assetsUrl('admin/assets/images/flags/'+antl.currentLocale()+'.png')}}" class="position-left" alt="">
						{{ __('props.currLang') }}
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a class="deutsch" href="/switch/de"><img src="{{assetsUrl('admin/assets/images/flags/de.png')}}" alt=""> Deutsch</a></li>
						<li><a class="ukrainian" href="/switch/ua"><img src="{{assetsUrl('admin/assets/images/flags/ua.png')}}" alt=""> Українська</a></li>
						<li><a class="english" href="/switch/en"><img src="{{assetsUrl('admin/assets/images/flags/en.png')}}" alt=""> English</a></li>
						<li><a class="espana" href="/switch/es"><img src="{{assetsUrl('admin/assets/images/flags/es.png')}}" alt=""> España</a></li>
					</ul>
				</li>

				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="{{auth.user.avatar_url}}" alt="">
						<span>{{auth.user.username}}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/admin/users/{{auth.user.id}}"><i class="icon-user-plus"></i> {{ __('bars.profile') }}</a></li>
						{{--  <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>  --}}
						<li class="divider"></li>
						<li><a href="/users/{{auth.user.id}}/edit"><i class="icon-cog5"></i> {{ __('bars.accountSettings') }}</a></li>
						<li><a href="/"><i class="icon-user"></i> {{ __('bars.backToUser') }}</a></li>
						<li><a href="/logout"><i class="icon-switch2"></i> {{ __('bars.logout') }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="/admin/users/{{auth.user.id}}" class="media-left"><img src="{{auth.user.avatar_url}}" class="img-circle img-sm" alt=""></a>
								<div class="media-body">
									<span class="media-heading text-semibold">{{auth.user.username}}</span>
									<div class="text-size-mini text-muted">
										<i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
									</div>
								</div>

								<div class="media-right media-middle">
									<ul class="icons-list">
										<li>
											<a href="/users/{{auth.user.id}}/edit"><i class="icon-cog3"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>{{ __('bars.main') }}</span> <i class="icon-menu" title="Main pages"></i></li>
								<li
									@if(url.at(-1) === '/')
									class="active"
									@endif
									><a href="/admin"><i class="icon-home4"></i> {{ __('bars.dashboard') }}</a>
								</li>
								@if(ACL.hasOneOf(Access.REDACT_POSTS, Access.DELETE_POSTS))
								<li
									@if(url.search('posts') !== -1)
									class="active"
									@endif
									><a href="/admin/posts"><i class="icon-quotes-right"></i> {{ __('bars.posts') }}</a>
								</li>
								@endif
								@if(ACL.hasOneOf(Access.CREATE_USERS, Access.REDACT_USERS, Access.DELETE_USERS))
								<li
									@if(url.search('users') !== -1)
									class="active"
									@endif
									><a href="/admin/users"><i class="icon-user"></i>{{ __('bars.users') }}</a>
								</li>
								@endif
								@if(ACL.hasOneOf(Access.CREATE_ROLES, Access.REDACT_ROLES, Access.DELETE_ROLES))
								<li
									@if(url.search('roles') !== -1)
									class="active"
									@endif
									><a href="/admin/roles"><i class="icon-user-check"></i> <span>{{ __('bars.roles') }}</span></a>
								</li>
								@endif
								@if(ACL.has(Access.MAIL_USERS))
								<li
									@if(url.search('mailing') !== -1)
									class="active"
									@endif
									><a href="/admin/mailing"><i class="icon-mailbox"></i> <span>{{ __('bars.mailing') }}</span></a>
								</li>
								@endif
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
				@if(flashMessage('success'))
				<div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered fixed-end">
					<button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
					<span class="text-semibold">{{ __('alerts.success') }}</span> {{{ flashMessage('success') }}}
				</div>
				@endif
				@if(flashMessage('error'))
				<div class="alert alert-danger alert-styled-left alert-bordered fixed-end">
					<button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
					<span class="text-semibold">{{ __('alerts.error') }}</span> {{{ flashMessage('error') }}}
				</div>
				@endif

				<!-- Content area -->
				<div class="content">

					@!section('body')

					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

  </body>
</html>